:root {
    ---font-family: "Heebo", Helvetica;
    ---font-size: 16px;
    ---font-style: normal;
    ---font-weight: 400;
    ---letter-spacing: 0px;
    ---line-height: 160.0000023841858%;
    --variable-collection: rgba(189, 158, 74, 1);
  }
  